

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500&family=Bree+Serif&family=Caramel&family=Fasthand&family=Gentium+Book+Plus&family=Josefin+Sans:ital,wght@0,400;1,300&family=Oswald:wght@300;400&family=Outfit:wght@200;300;400;500;600;700;800;900&family=Piazzolla:ital,opsz,wght@1,8..30,300;1,8..30,400;1,8..30,600&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}
body{
  background-color: #080808;
}
h1,h4,p,a{
  color: #EBEDEF ;
  text-decoration: none;
}
ul{
  list-style-type: none;
}
.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background:#6495ED;
  color: #222;
  border: 1px solid white;
  font-weight: 600;
  cursor: pointer;

}
.btn-light{
  background:transparent;
  color: white;
}

.btn:hover{
  background:transparent;
  color: white;
  transition: 0.3s;
}
